<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->
    <title>DOMjudge Analyzer</title>
</head>
<body>
    <div class="wrapper">
        {% block body %}
        {% endblock %}
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright © 2021 by Milan Ondrašovič. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>